* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Verdana";
}

body {
    background-color: #5d6070;
}

.container {
    border-radius: 0.2rem;
    width: min(90vw, 440px);
    margin: 3rem auto;
    background-color: white;
}

.container-padding {
    padding: 2rem;
}


.modal {
    display: none;
}

#modal-error {
    border: 1px solid red;
}

#modal-error h2 {
    color: red;
}

.modal h2 {
    padding-bottom: 1rem;
}

.modal p {
    padding-left: 2rem;
    font-size: large;
}

.modal-close {
    display: block;
    background: #07a5b1;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
}

.modal-close:hover {
    opacity: 0.8;
}
